@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,600,700|Rubik:400,600,700,800,900');


body {
    background-color: rgb(231, 220, 217);
}

header {
    text-align: center;
}

button {
    margin: 20px;
    margin-left: 0;
    padding: 20px;
    background-color: #008000;
    width: 90%;
    border: none;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    font-family: Rubik, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #EEEEEE;
    cursor: pointer;
}

header h4 {
    color: #E34E45;
    font-family: Rubik, sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 0;
}

header h5 {
    color: #000000;
    font-family: "Roboto Mono", serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 60px;
}

.tableDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #EEEEEE;
    z-index: 2;
}

.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    background-color: #CCCCCC;
    text-align: center;
}

.circles p {
    font-family: "Roboto Mono", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #ADAAAA;
}

.newReservation {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    z-index: 3;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    margin-bottom: 20%;
    top: 30%;
    right: 20%;
    left: 5%;
    width: 330px;
    height: 400px;
    max-width: 400px;
}

.newReservation h4 {
    position: relative;
    margin-left: 20px;
    max-width: 300px;

}

.nrInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    margin-left: 20px;
    width: 100%;

}

.nrFormInputs {
    background-color: #EEEEEE;
    width: 85%;
    margin: 5px 20px 10px -5px;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #CCCCCC;
}

.Xend {
    margin: 10px;
    margin-left: 310px;
    max-width: 100px;
    cursor: pointer;
}

.taken p {
    color: #CCCCCC;
}

#nrTitle {
    font-family: Rubik, sans-serif;
    color: #E34E45;
}

#tableNumber {
    margin-left: 20px;
    text-align: left;
}


@media only screen and (min-width: 768px) {

button {
    margin-left: 0;
}

.newReservation {
    right: 20%;
    left: 20%;
    width: 400px;
}

.nrFormInputs {
    width: 330px;
}

.Xend {
    margin-left: 375px;
}

}